.test-clock-container {
  font: normal 24px 'Helvetica Neue', Helvetica, sans-serif;
  user-select: none;
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
  box-sizing: border-box;
  background: #f6f6f6;
  .input-placeholder {
    color: #999;
  }
  .footer {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }
  .tip {
    opacity: 0.7;
  }
  .t {
    opacity: 1;
  }
  .clock-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    .form-item {
      background: white;
      width: 500px;
      height: 80px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      margin-top: 20px;
      color: #333;
    }
    .input {
      width: 100%;
    }
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      width: 500px;
      margin: 50px;
      font-size: 30px;
      padding: 15px 20px;
      border-radius: 30px;
      background: linear-gradient(45deg, #2b2f42, #666666);
      color: #fff;
      font-weight: 600;
      border: none;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
      transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
      text-align: center;
      cursor: pointer;
      &:active {
        transform: translateY(-2px);
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}
