.user-container {
  padding-top: 5px;
  min-height: 100vh;
  padding-bottom: 250px;
  .item {
    border-bottom: 1px solid #eee;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 40px;
    font-size: 26px;
    justify-content: space-between;
    .time {
      color: #666;
      font-size: 24px;
      padding-left: 20px;
    }
    .doing {
      color: #1aad19;
    }
    .expired {
      color: #f04864;
    }
    .done {
      color: #e7e7ef;
    }
  }
  .user-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
